$default-size: 1rem;
$small-size: 0.8rem;
$medium-size: 2.5rem;
$large-size: 5rem;
$colors: (bg: #ccc,
    danger: #f03f3f,
    plain-color: #fff,
    info-color: #1fdd19,
    bg-layout: #5f98a0,
    bg-box: #38c5a2,
    box-hover: #222,
    bg-footer: #181a1b,
    title: #073838,
    highlight-hover: #14e7ee);